<div class="container mb-3">
    <div class="col">
        <div class="row g-3">
            <form action="#" [formGroup]="formSubmit" (ngSubmit)="getDataForm()">
                <div class="col mb-2">
                    <label for="limit" class="form-label">Pokemon Limit:</label>
                    <input class="form-control" type="number" id="limit" name="limit" formControlName="limit">
                    <span class="form-text text-danger" *ngIf="checkInputs('limit')">{{limitErrors}}</span>
                </div>
                <div class="col mb-2">
                    <label for="offset" class="form-label">Pokemon Offset:</label>
                   <input class="form-control" type="number" id="offset" name="offset" formControlName="offset">
                   <span class="form-text text-danger" *ngIf="checkInputs('offset')">{{offsetErrors}}</span>
                </div>
                <button type="submit" class="btn btn-dark">Generate Pokemons</button>
            </form>
        </div>
    </div>
  </div>
<app-poke-list [pokeList]="catchPokemon" [errorCacth]="errorList" [loading]="loading" [save]="true"></app-poke-list>