<ng-template [ngIf]="loading" [ngIfElse]="pokemonList">
  <div class="grid d-flex align-items-center justify-content-center">
    <img
      src="../../../../assets/pokeball-animation.gif"
      width="200px"
      alt="pokeball-gift"
    />
  </div>
</ng-template>

<ng-template #pokemonList>
  <div class="container">
    <div class="row row-cols-3 justify-content-center">
      <div
        class="col card m-2 position-relative p-3"
        style="width: 18em"
        *ngFor="let pokemons of pokeList"
      >
        <img
          [src]="pokemons.sprites | pipeImage"
          [alt]="pokemons.name"
          style="width: 300px; height: 300px"
          class="p-3"
        />
        <div class="card-body">
          <h5 class="card-title">{{ pokemons.name | titlecase }}</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Weight: {{ pokemons.weight }}</li>
            <li class="list-group-item">Height: {{ pokemons.height }}</li>
          </ul>
          <hr />
          <ul
            class="list-group list-group-flush"
            *ngFor="let pokeStats of pokemons.stats.slice(0, 3)"
          >
            <li class="list-group-item">
              {{ pokeStats.stat.name | titlecase }}: {{ pokeStats.base_stat }}
            </li>
          </ul>
          <ul
            class="list-group list-group-flush"
            *ngFor="let pokeTypes of pokemons.types"
          >
            <li class="list-group-item">
              <button
                type="button"
                class="btn"
                [class]="pokeTypes.type.name"
                style="margin-right: 1.2em"
              >
                {{ pokeTypes.type.name | titlecase }}
              </button>
            </li>
          </ul>
          <ng-template [ngIf]="save">
            <button
              type="button"
              class="btn btn-dark absolute"
              (click)="getName(pokemons.name)"
            >
              Save Pokemon
              <i class="fa-solid fa-download ml-4"></i>
            </button>
          </ng-template>
          <ng-template [ngIf]="delete">
            <button
              type="button"
              class="btn btn-dark absolute"
              (click)="deletePokemon(pokemons.name)"
            >
              Delete Pokemon
              <i class="fa-solid fa-trash ml-4"></i>
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<notifier-container></notifier-container>
